<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I recently finished an front-end enginner internship at
      <a class="underline-link" href="https://www.outspoke.io/" target="_blank">Outspoke</a> building components for the web with some great people. I recently attended
      <a class="underline-link" href="http://www.asu.edu/" target="_blank">Arizona State University</a>, where I learned a lot and was apart of a great organization in
      <a class="underline-link" href="https://www.nsbe.org/home.apsx" target="_blank">NSBE</a>.
    </p>

    <p>
      As a software engineer, I love the struggle of learning something new.
      I strive to build applications that are scalable
      and efficient while providing engaging user experiences.
    </p>

    <p>
      I love learning new ways to create user experiences with clean, efficient, and scalable code. 
      I treat engineering as an ongoing education, and I'm always looking for opportunities to work with those who are willing 
      to share their knowledge.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably working out, playing basketball,
      or schooling my girlfriend in law school.
    </p>

  </div>
</section>
